* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #eee;
}

.header {
	background: green;
	width: 600px;
	height: 35px;
	margin: 0px auto 0px auto;
	padding: 10px 0px 10px 0px;
	font-family: "Arial";
	color: white;
	text-shadow: 1px 2px 1px black;
}

h2 {
	text-align: center;
}

.wallpaper {
	background: auto;
	width: 600px;
	height: 400px;
	margin: 0px auto 0px auto; 
}

.costum_form {
	display: inline-block;
	background: white;
	width: 364px;
	height: auto;
	margin: 40px auto 40px 65px;
	padding: 50px 50px 30px 50px;
	box-shadow: 1px 2px 4px silver;
}

.reg {
	width: 320px;
	letter-spacing: 2px;
	margin: 10px 0px 0px 10px;
	font-size: 30px;
	padding: 10px 10px 10px 10px;
}

#fname {

}

#btn-submit-reg {
	background: green;
	display: block; 
	margin: 0px auto 0px auto;
	padding: 10px 40px 10px 40px;
	border: none;
	letter-spacing: 2px;
	font-size: 22px;
	font-family: "Verdana";
	color: white;
	text-shadow: 0px 2px 2px black; 
}

footer {
	background: #222;
	width: 400px;
	height: 30px;
	padding: 0px 0px 0px 0px;
	margin: 2px auto 2px auto; 	
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: blue;
}