.footer {
	background: rgb(200, 66, 105);
	width: var(--width-block);
	height: auto;
	margin: 10px auto 10px auto;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	
}

.nav-footer {
	padding: 16px 20px 12px 20px
}

.ul-footer {

}

.li-footer {
	display: inline;
}

.a-link-footer {
	text-decoration: none;
	color: yellow;
	padding-right: 10px;
	font-size: 20px;
}

.a-link-footer:hover {
	color: white;
	text-shadow: 1px 1px 2px orange;
}