:root {
	--width-block: 600px;
	--red-easy-color: rgb(245, 66, 105);
	--yellow-easy-color: rgb(255, 232, 99);
	--blue-like-skype-color: rgba(180, 200, 250, 0.3);
	--asd_color: rgb(246, 231, 208);
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url("../img/main-background.png");
	background-color: rgb(246, 231, 208);
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: scroll;
	font-family: 'Grandstander', cursive;
	letter-spacing: 2px;
	
	/* Google Chrome */
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	
	/* old pre-WebKit versions of Opera */
	-o-transition: all 1s ease;
}

.header {
	background: auto;
	width: 800px;
	height: 50px;
	margin: 27px auto 20px auto;
}

.header {}

.align-header {

}

.nav-align-header-links {}

.ul-align-header-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-link {
	padding: 12px 14px 0px 14px;
}

.header-link {
	list-style: none;
}

.link_from_menu {
	background: #f54269;
	text-decoration: none;
	padding: 15px 22px 8px 22px;
	color: white;
	border-radius: 20%;
	border: 1px solid #000;
	font-size: 24px;
}

.link_from_menu:hover {
	color: green;
	background: rgb(255, 232, 99);
	box-shadow: 2.4px 3px rgb(210, 60, 105);
}	
