#hyper-text-2 {
	color: var(--yellow-easy-color);
	text-align: center; 
	padding: 10px 0px 6px 0px;
	background: rgb(200, 66, 105);
	width: 600px;
	margin: auto auto 10px auto;
	border-radius: 20px;
	border: 1px solid black;
	line-height: 32px;
	font-size: 24px;
}