.wallpaper_home {
	background: white;
	width: 600px;
	height: auto;
	margin: 20px auto 0px auto;
	border: 1px solid black;
	border-radius: 20px; 
}

#ciainik {
	background: auto;
	margin: 0px auto 0px auto;
	padding: 20px 20px 20px 20px;
	list-style: none;
}

.exemple {
	background: auto;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 19px;
	color: brown;
}

.a_exemple_link {
	color: blue;
	text-decoration: none;
	line-height: 30px;
}

.a_exemple_link:hover {
	color: green;
	/*text-decoration: underline;*/
}
