/* rgb(246, 231, 208); */
/* rgb(255, 232, 99); */
/* #f54269  more light red */
/* rgb(200, 66, 105); more dark red */

.wp_catalog {
	background: transparent;
	height: auto;
	margin: 0px auto 0px auto;

}

.headline {
	background: auto;
	width: 600px;
	height: auto;
	margin: 0px auto 0px auto;
	/*padding: 5px 0px 5px 0px;*/
	/*border-radius: 20px; */
	/*border: 1px solid black;*/
}

.nav-headline {
	/*margin: 0px 0px 0px 6px;*/

}

.ul-headline {}

.li-headline {
	list-style: none;
	text-align: center;
	display: inline-block;
	width: 172px;
	height: 230px;
	margin: 5px 0px 6px 4px;
	padding: 14px 8px 10px 8px;
	font-size: 22px;
	border-radius: 20px;
	border: 1px solid #000;
	cursor: pointer;
}

.a-link-headline {
	text-decoration: none;
	color: black;
	/*text-shadow: 0px 2px 1px black;*/
}

/* Bellow are id */

/* C-Plus-Plus */
#id-link-headline-C-Plus-Plus {
	background-color: white;	
	background-image: url('../img/sasuke_C++.png');
	background-repeat: no-repeat;
	background-position: center bottom; 
}

#id-link-headline-C-Plus-Plus:hover {
	background-color: silver;
	background-image: url('../img/sasuke_two.png');
	background-repeat: no-repeat;
	background-position: center; 	
}

#id-link-headline-C-Plus-Plus:hover a {
	color: black;
	text-shadow: none;
}

/* JavaScript */
#id-link-headline-JavaScript {
	background-color: white;
	background-image: url('../img/minato_two_copy.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#id-link-headline-JavaScript:hover {
	background: orange;
}

#id-link-headline-JavaScript:hover a {
	color: white;
}

/* Assembly */
#id-link-headline-Assembly {
	background-image: url('../img/deidara.png');
	background-repeat: no-repeat;
}

#id-link-headline-Assembly:hover {
	background: #c7a64c;
}

#id-link-headline-Assembly:hover a {
	color: white;
}

/* Node.js */
#id-link-headline-node-js {
	background-color: white;
	background-image: url('../img/kakashi_copy.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#id-link-headline-node-js:hover {
	background: green;
}

#id-link-headline-node-js:hover a {
	color: white;
}

/* React */
#id-link-headline-react-js {
	background-image: url('../img/chibi_two.png');
	background-repeat: no-repeat;
}

#id-link-headline-react-js:hover {
	background: #333;
}

#id-link-headline-react-js:hover a {
	color: lightblue;
}

/* Postgres */
#id-link-headline-postgres:hover {
	background: #1c6199;
}

#id-link-headline-postgres:hover a {
	color: white;
}

/* vim */
#id-link-headline-vim {
	background-color: white;
	background-image: url('../img/gai.png');
	background-repeat: no-repeat;
	background-position: center;
}

#id-link-headline-vim:hover {
	background: rgb(0, 60, 1);
}

#id-link-headline-vim:hover a {
	color: white;
}

/* express-js */
#id-link-headline-express-js:hover {
	background: silver;
}

#id-link-headline-express-js:hover a {
	color: white;
}

/* Redis */
#id-link-headline-redis {
	background-color: white;
	background-image: url('../img/karin.png');
	background-repeat: no-repeat;
	background-position: center;
}

#id-link-headline-redis:hover {
	background: rgb(100, 0, 0);
}

#id-link-headline-redis:hover a {
	color: white;
}

/* pug-js */
#id-link-headline-pug-js {
	background-image: url('../img/chibi_two.png');
	background-repeat: no-repeat;
}

#id-link-headline-pug-js:hover {
	background: #ad7e3b;
}

#id-link-headline-pug-js:hover a {
	color: white;
}

/*ECMAScript*/
#id-link-headline-ECMAScript {	
	background-image: url('../img/chibi_two.png');
	background-repeat: no-repeat;
}

#id-link-headline-ECMAScript:hover {
	background: yellow;
}

#id-link-headline-ECMAScript:hover a {
	color: black;
	text-shadow: none;
}

/* Other */
.li-headline {

}

.li-headline:hover {
	background: orange;
}

.li-headline:hover a {
	color: white;
}


