
.wallpaper_home {
	background: white;
	width: 600px;
	height: auto;
	margin: 20px auto 0px auto;
	border: 1px solid black;
	border-radius: 20px; 
}

.wall_parag {
	padding: 20px;
	line-height: 24px;
	font-size: 20px;
	font-family: 'Verdana';
}
