.wp_iRock {
	background: white;
	width: 560px;
	min-height: 230px;
	max-height: auto;
	margin: 10px auto 10px auto;
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	line-height: 26px;
}

#description-iRock {
	color: green;
	line-height: 24px;
	padding-bottom: 10px;
}

.left-irock {
	float: left;
	width: 120px;
	height: 120px;
	padding: 10px;
	border: 1px solid black;
}

.right-irock {
	float: right;
	width: 400px;
	height: 140px;
	padding: 0px 0px 0px 0px;
}

#id-left-user {
	background: #2a3b59;
	width: 100px;
	color: white;
	height: 20px;
	border: 1px solid black;
	position: relative;
	top: 2px;
	left: -11px;
	padding: 8px 0px 4px 40px;

}

#h4-iRock {
	float: left;
	font-size: 18px;
}

.p-right-irock {
	line-height: 24px;
	text-align: justify;
	/*color: #2a3b59;*/
	font-size: 18px;
	padding-bottom: 10px;
}

/* Bellow is img irock */
#irock {
	position: relative;
	top: -10px;
	left: -10px;
}

.exemple-code {
	background: pink;
	width: 400px;
	height: 100px;
}