
/* wp_home */
.wallpaper_node {
	background: white;
	width: 580px;
	height: auto;
	margin: 10px auto 0px auto;
	padding: 10px 10px 0px 10px;
	border: 1px solid black;
	font-weight: bold;
	border-radius: 20px; 
}

.nav_main_wall_node {}

.ul_inside_wall {
	background: transparent;
}

.li_topic_list {
	width: 520px;
	background: #eee;
	margin-bottom: 10px;
	border: 1px solid black;
	border-radius: 20px; 
	padding: 14px 30px 11px 30px;
	list-style-type: none;
}

.li_topic_list:hover {
	background: yellow;
}

#li_topic_list {
	background: white;
}

.a_link_topic {
	color: blue;
	font-size: 20px;
	text-decoration: none;
}

.a_link_topic:hover {
	color: rgb(200, 65, 105);
}



