
/* Here is file wp_node_B1_E1.css */

.wp_node_B1_E1 {
	background: white;
	width: 600px;
	height: auto;
	margin: 0px auto auto auto;
	border: 1px solid black; 
	border-radius: 20px;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	line-height: 30px;
}

.exemple-code {
	background: #222;
	width: auto;
	height: 32px;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	font-size: 18px;
}

.js {
	color: white;
	padding: 10px; 
}

.js_string {
	color: lightgreen;
}

.js_obj {
	color: lightblue;
}

.js_obj_method {
	color: red;
}

h5 {
	margin: 10px 10px 10px 10px; 
}

.h4-move-to-site  {
	background: #eee;
	border-radius: 20px; 
	margin: 0px 0px 20px 0px;
	padding: 20px 20px 20px 20px;
	box-shadow: 1px 3px 6px silver; 
}

.H4-a-link-returned {
	text-decoration: underline;
	color: blue;
}

a:hover {
	color: green;
	cursor: pointer;
}
