
/* Here is file wp_node_B1.css */

.wp_node_B1 {
	background: white;
	width: 560px;
	height: auto;
	margin: 0px auto auto auto;
	border: 1px solid black; 
	border-radius: 20px;
	padding: 20px 20px 20px 20px;
	text-align: justify;
	line-height: 30px;
}

.note {
	color: red;
}

.h4-move-to-site  {
	background: #eee;
	margin: 0px 0px 20px 0px;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	box-shadow: 1px 3px 6px silver;
}

.H4-a-link-returned {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: green;
	cursor: pointer;
}

.p-addition-information {
	background: #eee;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	box-shadow: 1px 3px 6px silver;
	margin: 0px 0px 20px 0px; 
}

.nav-lesssons {
	background: #eee;
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	box-shadow: 1px 3px 6px silver;
}

.ul-lessons {}

.li-lessons {
	list-style-type: none;
}

.a-lessons {
	text-decoration: none;
	color: blue;
}