#hyper-text-2 {
	color: var(--yellow-easy-color);
	text-align: center; 
	padding: 14px 0px 14px 0px;
	background: rgb(200, 66, 105);
}

.wp_test {
	background: white;
	width: var(--width-block);
	height: auto;
	margin: 0px auto 0px auto;
}

.nav-wrap {
	background: red;
	width: 700px;
	min-height: 300px;
	margin: auto;
}

.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}

.form-row {
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding: .5em;
}

.form-row > label {
	padding: .5em 1em .5em 0;
	flex: 1;
}

.form-row > input {
	flex: 2;
}

.form-row > input,
.form-row > button {
	padding: .5em;
}

.form-row > button {
  background: gray;
  color: white;
  border: 0;
  position: relative;
  left: -316px;
}

#align-form-row-right {
	position: relative;
	left: 203px;
}